# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# Django
db.sqlite3

# Logs
*.log

# Media uploads
media/

# Environment variables / secrets
.env
service_account.json

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

*.lnk